## 2.4.2 판다스(Pandas)  

판다스에는 세 가지 데이터 타입이 존재한다.

* 시리즈(Series)
* 데이터프레임(DataFrame)
* 판넬(Panel)

In [1]:
import pandas as pd
import numpy as np

### 시리즈 생성

In [8]:
a = pd.Series([1, 3, 5, 7, 10])

print(a)

0     1
1     3
2     5
3     7
4    10
dtype: int64

In [10]:
data = np.array(['a', 'b', 'c', 'd'])
b = pd.Series(data)

print(b)

0    a
1    b
2    c
3    d
dtype: object

In [11]:
c = pd.Series(np.arange(10, 30, 5))

print(c)

0    10
1    15
2    20
3    25
dtype: int32

In [12]:
a = pd.Series(['a', 'b', 'c'], index=[10, 20, 30])

print(a)

10    a
20    b
30    c
dtype: object

In [13]:
dict = {'a': 10, 'b': 20, 'c': 30}
d = pd.Series(dict)

print(d)

a    10
b    20
c    30
dtype: int64

### 데이터 프레임 생성

In [15]:
a = pd.DataFrame([1, 3, 5, 7, 9])

print(a)

   0
0  1
1  3
2  5
3  7
4  9

In [16]:
dict = {'Name': ['Cho', 'Kim','Lee' ], 'Age': [28, 31, 38]}
b = pd.DataFrame(dict)

print(b)

  Name  Age
0  Cho   28
1  Kim   31
2  Lee   38

In [17]:
c = pd.DataFrame([['apple', 7000], ['banana', 5000], ['orange', 4000]])

print(c)

        0     1
0   apple  7000
1  banana  5000
2  orange  4000

In [18]:
a = pd.DataFrame([['apple', 7000], ['banana', 5000], ['orange', 4000]], columns = ['name', 'price'])

print(a)

     name  price
0   apple   7000
1  banana   5000
2  orange   4000

### 판다스 데이터 불러오기 및 쓰기

In [23]:
data_frame = pd.read_csv( './data_in/datafile.csv')

print(data_frame['A'])

0      0.076547
1      0.810574
2      0.071555
3      0.319684
4      0.571791
         ...
295    0.961260
296    0.412032
297    0.934486
298    0.072067
299    0.705263
Name: A, Length: 300, dtype: float64

In [25]:
print(data_frame['A'][:3])

0    0.076547
1    0.810574
2    0.071555
Name: A, dtype: float64

In [26]:
data_frame['D'] = data_frame['A'] + data_frame['B']

print(data_frame ['D'])

0     -0.334412
1      1.799571
2      0.843764
3      1.079784
4      0.734765
         ...
295    0.800332
296    1.151419
297    1.431471
298    0.769612
299   -0.161041
Name: D, Length: 300, dtype: float64

In [27]:
data_frame.describe()

                A           B           C           D
count  300.000000  300.000000  300.000000  300.000000
mean     0.504467    0.120235  517.743333    0.624702
std      0.283837    0.576256  283.187160    0.656320
min      0.003110   -0.981417    0.000000   -0.890799
25%      0.241881   -0.336614  282.250000    0.100411
50%      0.528009    0.224035  526.500000    0.767702
75%      0.750084    0.591710  754.250000    1.141083
max      0.994491    0.989536  996.000000    1.857518